In [1]:
from dotenv import load_dotenv
import os

load_dotenv()
API_KEY = os.getenv("OPENWEATHER_API_KEY")
ACCESS_KEY = os.getenv("LAKEFS_ACCESS_KEY")
SECRET_KEY = os.getenv("LAKEFS_SECRET_KEY")
lakefs_endpoint = os.getenv("LAKEFS_ENDPOINT", "http://lakefs-dev:8000")

In [2]:
# #test read parquet
# import pandas as pd
# storage_options = {
#     "key": ACCESS_KEY,
#     "secret": SECRET_KEY,
#     "client_kwargs": {
#         "endpoint_url": lakefs_endpoint
#     }
# }

# repo = "pollution-data"
# branch = "main"
# path = "pollution.parquet"
# lakefs_s3_path = f"s3a://{repo}/{branch}/{path}"

In [5]:
# path_partition = 's3a://pollution-data/main/pollution.parquet/'
# # path_partition = 's3a://pollution-data/main/pollution.parquet/year=2025/month=5/day=11/hour=10/5127aa0fd46841dcba3ad95008af1c7d-0.parquet'
# df = pd.read_parquet(
#     path=path_partition,
#     storage_options=storage_options,
#     engine="pyarrow"
#     )
# df.info()
# df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180522 entries, 0 to 180521
Data columns (total 22 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   timestamp         180522 non-null  datetime64[ns]
 1   minute            180522 non-null  int64
 2   localtime         180522 non-null  datetime64[ns, Asia/Bangkok]
 3   province          180522 non-null  string
 4   district          180522 non-null  string
 5   district_id       180522 non-null  int64
 6   lat               180522 non-null  float64
 7   lon               180522 non-null  float64
 8   main.aqi          180522 non-null  int64
 9   components_co     180522 non-null  float64
 10  components_no     180522 non-null  float64
 11  components_no2    180522 non-null  float64
 12  components_o3     180522 non-null  float64
 13  components_so2    180522 non-null  float64
 14  components_pm2_5  180522 non-null  float64
 15  components_pm10   180522 non-null  float64
 16  components_nh3    180522 non-null  float64
 17  flow_timestamp    180522 non-null  datetime64[us]
 18  year              180522 non-null  category
 19  month             180522 non-null  category
 20  day               180522 non-null  category
 21  hour              180522 non-null  category
dtypes: category(4), datetime64[ns, Asia/Bangkok](1), datetime64[ns](1), datetime64[us](1), float64(10), int64(3), string(2)
memory usage: 25.5 MB

,timestamp,minute,localtime,province,district,district_id,lat,lon,main.aqi,components_co,...,components_o3,components_so2,components_pm2_5,components_pm10,components_nh3,flow_timestamp,year,month,day,hour
0,2025-05-13 10:00:09.082896,0,2025-05-13 17:00:09.082896+07:00,Krabi,Nuea Khlong,8108,8.0747,99.0036,1,109.01,...,39.42,0.02,1.79,2.08,0.00,2025-05-13 10:00:08.202481,2025,5,13,10
1,2025-05-13 10:00:08.950969,0,2025-05-13 17:00:08.950969+07:00,Krabi,Lam Thap,8107,8.0717,99.2917,1,104.79,...,38.10,0.02,1.73,2.02,0.01,2025-05-13 10:00:08.202481,2025,5,13,10
2,2025-05-13 10:00:08.949743,0,2025-05-13 17:00:08.949743+07:00,Krabi,Plai Phraya,8106,8.5333,98.8628,1,125.19,...,41.21,0.10,2.72,3.11,0.04,2025-05-13 10:00:08.202481,2025,5,13,10
3,2025-05-13 10:00:08.872550,0,2025-05-13 17:00:08.872550+07:00,Krabi,Khao Phanom,8102,8.2647,99.0492,1,115.44,...,42.29,0.02,2.19,2.35,0.00,2025-05-13 10:00:08.202481,2025,5,13,10
4,2025-05-13 10:00:09.088553,0,2025-05-13 17:00:09.088553+07:00,Krabi,Ao Luek,8105,8.3775,98.7217,1,125.97,...,43.89,0.05,3.24,3.51,0.00,2025-05-13 10:00:08.202481,2025,5,13,10

In [2]:
import s3fs
path = 's3a://pollution-data/main/pollution.parquet'
fs = s3fs.S3FileSystem(
    key=ACCESS_KEY,
    secret=SECRET_KEY,
    client_kwargs={'endpoint_url': lakefs_endpoint}
)

data_list = fs.glob(f"{path}/*/*/*/*/*")
len(data_list)

540

In [4]:
import pyarrow.dataset as ds
path = "pollution-data/main/pollution.parquet/"
dataset = ds.dataset(
    path,
    format="parquet",
    partitioning="hive",
    filesystem=fs
)

table = dataset.to_table()
df = table.to_pandas()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 490140 entries, 0 to 490139
Data columns (total 22 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   timestamp         490140 non-null  datetime64[ns]
 1   minute            490140 non-null  int64
 2   localtime         490140 non-null  datetime64[ns, Asia/Bangkok]
 3   province          490140 non-null  string
 4   district          490140 non-null  string
 5   district_id       490140 non-null  int64
 6   lat               490140 non-null  float64
 7   lon               490140 non-null  float64
 8   main.aqi          490140 non-null  int64
 9   components_co     490140 non-null  float64
 10  components_no     490140 non-null  float64
 11  components_no2    490140 non-null  float64
 12  components_o3     490140 non-null  float64
 13  components_so2    490140 non-null  float64
 14  components_pm2_5  490140 non-null  float64
 15  components_pm10   490140 non-null  float64
 16  components_nh3    490140 non-null  float64
 17  flow_timestamp    490140 non-null  datetime64[us]
 18  year              490140 non-null  int32
 19  month             490140 non-null  int32
 20  day               490140 non-null  int32
 21  hour              490140 non-null  int32
dtypes: datetime64[ns, Asia/Bangkok](1), datetime64[ns](1), datetime64[us](1), float64(10), int32(4), int64(3), string(2)
memory usage: 74.8 MB

In [5]:
from datetime import datetime

filtered = dataset.to_table(
    filter=(
        (ds.field("year") == 2025) &
        (ds.field("month") == 5) &
        (
        (ds.field("day") == 17) |
        (ds.field("day") == 18)
        )
    )
)
df_filtered = filtered.to_pandas()
df_filtered

,timestamp,minute,localtime,province,district,district_id,lat,lon,main.aqi,components_co,...,components_o3,components_so2,components_pm2_5,components_pm10,components_nh3,flow_timestamp,year,month,day,hour
0,2025-05-17 00:15:00.752689,15,2025-05-17 07:15:00.752689+07:00,Krabi,Nuea Khlong,8108,8.0747,99.0036,1,179.36,...,59.72,0.02,8.05,8.38,0.00,2025-05-17 00:15:00.082193,2025,5,17,0
1,2025-05-17 00:15:00.745759,15,2025-05-17 07:15:00.745759+07:00,Krabi,Lam Thap,8107,8.0717,99.2917,2,209.14,...,60.01,0.04,7.49,7.77,0.03,2025-05-17 00:15:00.082193,2025,5,17,0
2,2025-05-17 00:15:00.568207,15,2025-05-17 07:15:00.568207+07:00,Krabi,Plai Phraya,8106,8.5333,98.8628,1,184.25,...,51.86,0.15,7.36,7.88,0.15,2025-05-17 00:15:00.082193,2025,5,17,0
3,2025-05-17 00:15:00.567879,15,2025-05-17 07:15:00.567879+07:00,Krabi,Khao Phanom,8102,8.2647,99.0492,2,175.31,...,60.24,0.02,8.87,9.17,0.00,2025-05-17 00:15:00.082193,2025,5,17,0
4,2025-05-17 00:15:00.567637,15,2025-05-17 07:15:00.567637+07:00,Krabi,Ao Luek,8105,8.3775,98.7217,1,139.26,...,47.81,0.03,5.37,5.91,0.00,2025-05-17 00:15:00.082193,2025,5,17,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177979,2025-05-18 09:33:24.909839,33,2025-05-18 16:33:24.909839+07:00,Mae Hong Son,Khun Yuam,5802,18.8394,97.9514,1,195.77,...,35.18,0.21,5.96,6.47,0.83,2025-05-18 09:30:00.570527,2025,5,18,9
177980,2025-05-18 09:33:24.908107,33,2025-05-18 16:33:24.908107+07:00,Mae Hong Son,Pai,5803,19.3586,98.4400,1,160.92,...,30.68,0.27,2.73,2.86,0.28,2025-05-18 09:30:00.570527,2025,5,18,9
177981,2025-05-18 09:33:24.913289,33,2025-05-18 16:33:24.913289+07:00,Mae Hong Son,Mae Sariang,5804,18.1594,97.9336,1,221.16,...,43.21,0.35,7.47,8.28,1.26,2025-05-18 09:30:00.570527,2025,5,18,9
177982,2025-05-18 09:33:24.911613,33,2025-05-18 16:33:24.911613+07:00,Mae Hong Son,Mae La Noi,5805,18.3844,97.9369,1,241.23,...,42.05,0.39,8.88,9.79,1.40,2025-05-18 09:30:00.570527,2025,5,18,9
177983,2025-05-18 09:33:24.913901,33,2025-05-18 16:33:24.913901+07:00,Mae Hong Son,Pang Mapha,5807,19.5225,98.2461,1,174.47,...,31.89,0.26,3.78,3.95,0.36,2025-05-18 09:30:00.570527,2025,5,18,9

In [6]:
# df_filtered["day"].unique()
df_filtered["day"].value_counts()

day
17    88992
18    88992
Name: count, dtype: int64

In [8]:
#save
df_filtered.to_parquet("pollution.parquet", index=False)

In [9]:
import pandas as pd
df = pd.read_parquet("pollution.parquet", engine="pyarrow")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177984 entries, 0 to 177983
Data columns (total 22 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   timestamp         177984 non-null  datetime64[ns]
 1   minute            177984 non-null  int64
 2   localtime         177984 non-null  datetime64[ns, Asia/Bangkok]
 3   province          177984 non-null  string
 4   district          177984 non-null  string
 5   district_id       177984 non-null  int64
 6   lat               177984 non-null  float64
 7   lon               177984 non-null  float64
 8   main.aqi          177984 non-null  int64
 9   components_co     177984 non-null  float64
 10  components_no     177984 non-null  float64
 11  components_no2    177984 non-null  float64
 12  components_o3     177984 non-null  float64
 13  components_so2    177984 non-null  float64
 14  components_pm2_5  177984 non-null  float64
 15  components_pm10   177984 non-null  float64
 16  components_nh3    177984 non-null  float64
 17  flow_timestamp    177984 non-null  datetime64[us]
 18  year              177984 non-null  int32
 19  month             177984 non-null  int32
 20  day               177984 non-null  int32
 21  hour              177984 non-null  int32
dtypes: datetime64[ns, Asia/Bangkok](1), datetime64[ns](1), datetime64[us](1), float64(10), int32(4), int64(3), string(2)
memory usage: 27.2 MB